.carrusel-servicios {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        min-height: inherit;

        .row {
            min-height: inherit;
        }
    }

    #carrusel-servicios {
        .carousel-inner {
            min-height: inherit;

            .carousel-item {
                min-height: inherit;
            }
        }
    }

    h1 {
        @include font-size(1.6rem);
    }

    .contenedor-info-1,
    .contenedor-info-2 {
        padding: 60px;
    }

    .contenedor-blanco {
        background-color: $secondary;
        color: $text-blue;
    }

    .contenedor-azul {
        background-color: $primary;
        color: $text-white;
    }

    .gastos-medicos-item {
        background-color: #1062A9;
    }

    .vida-item {
        background-color: #8BBFDB;
        @include background('../images/servicios/personas/bg-vida.png', right, cover);
    }

    .invalidez-item {
        background-color: #FEFEFE;
    }

    .educacion-item {
        background-color: #FFFFFF;
    }

    .retiro-item {
        background-color: #86B5DB;
        @include background('../images/servicios/personas/bg-retiro.png', right, cover);
    }

    .ahorros-item {
        background-color: #FFFFFF;
    }

    .hogar-item {
        background-color: #224373;
        @include background('../images/servicios/personas/bg-hogar.png', right, cover);
    }

    .inversion-item {
        background-color: #FFFFFF;
    }

    .hombre-clave-item {
        background-color: #FFFFFF;
    }

    .gastos-medicos-empresariales-item {
        background-color: #FFFFFF;
    }

    .vida-empresarial-item {
        background-color: #FFFFFF;
    }

    .seguro-comercio-item {
        background-color: #FFFFFF;
    }
}