// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'circular_stdbook', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);

    &:hover {
        text-decoration: underline;
    }
}

figure {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'circular_stdblack', sans-serif;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

.btn {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-primary {
    &:hover,
    &:focus {
        background-color: $secondary;
        color: $text-blue;
    }
}

.btn-info {
    color: $text-white;
    border-radius: 2rem;

    &:hover,
    &:focus {
        color: $text-blue;
    }
}

header#navbar {
    @include background('../images/bg-azul.png', center, cover);
    font-size: 1.6rem;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    color: $text-white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    a {
        color: $text-white;
    }

    #logo-navbar {
        width: 100%;
        @include transition(ease, 0.3s);
    }

    nav {
        ul {
            margin-bottom: 0;
            
            .list-inline-item:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    #mburger {
        color: $text-white;

        &:hover,
        &:focus {
            // color: ;
        }
    }

    .btn-primary {
        background-color: transparent;
        border: 1px solid $secondary;

        &:hover,
        &:focus {
            background-color: $secondary;
            color: $text-blue !important;
        }
    }
}

.navbar-scroll {
    @include background('../images/bg-azul.png', center, cover);
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 70% !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

#jumbotron {
    color: $text-white;
    min-height: 100vh;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .carousel-indicators [data-bs-target] {
        background-color: $info;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .carousel-item-2 {
        position: relative;

        .logo-sencillo {
            @include background('../images/logo-sencillo.png', center, contain);
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: 30px;
            left: 30px;
            z-index: 2;
        }

        .aliados-tenere {
            color:#3E406C;
            font-family: 'brittany_signatureregular', sans-serif;
            position: absolute;
            bottom: 30px;
            right: 30px;
            z-index: 2;
        }
    }

    .contenedor-foto,
    .contenedor-info {
        min-height: 50vh;
    }

    .contenedor-foto {
        position: relative;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            z-index: 2;
        }

        .overlay {
            position: absolute;
            background-color: rgba(21, 28, 98, 0.1);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    @for $i from 1 through 3 {
        .foto-#{$i} {
            @include background('../images/carrusel/foto-#{$i}.png', center, cover);
        }
    }

    .foto-1,
    .foto-2 {
        min-height: 100vh;
        padding: 30px;
    }

    .foto-1 {
        background-position: left top;

        & > div {
            min-height: 100vh;
        }

        h1 {
            position: relative;
            z-index: 2;
            margin-bottom: -40px;
        }

        h2 {
            color:#3E406C;
            font-family: 'brittany_signatureregular', sans-serif;
            position: relative;
            z-index: 1;
        }
    }

    .foto-2 {
        background-position: center top;
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;

        figure,
        h1,
        .btn {
            position: relative;
            z-index: 2;
            display: block;
        }

        figure {
            .logo {
                max-width: 30%;
            }
        }

        .btn {
            background-color: transparent;
            border: 1px solid $secondary;
            margin-bottom: 150px;
            display: inline-block;

            &:hover,
            &:focus {
                background-color: $secondary;
            }
        }

        .overlay {
            background-color: rgba(21, 28, 98, 0.5);
        }
    }

    .contenedor-info {
        @include background('../images/bg-azul.png', center, cover);
        padding: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            border: 1px solid $secondary;
        }

        #familia {
            position: relative;
            z-index: 2;

            &::after {
                color:#3E406C;
                font-family: 'brittany_signatureregular', sans-serif;
                position: absolute;
                bottom: -26px;
                left: 50%;
                @include absolute-center-x;
                content: 'familia';
                z-index: 1;
            }
        }
    }
}

#nosotros {
    background-color: #C1B291;
    color: $text-blue;
    padding: 100px 0;
    position: relative;

    h6 {
        font-family: 'circular_stdbook', sans-serif;
        letter-spacing: 0.3rem;
    }

    figure {
        position: relative;
        z-index: 2;
    }
}

#nuestros-servicios {
    @include background('../images/bg-azul.png', center, cover);
    color: $text-white;
    padding: 100px 0;
    position: relative;

    a {
        color: $text-white;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    h6 {
        font-family: 'circular_stdbook', sans-serif;
        letter-spacing: 0.3rem;
    }

    figure {
        position: relative;
        z-index: 2;

        &::before {
            @include background('../images/logo-sencillo.png', center, contain);
            position: absolute;
            bottom: 46px;
            left: 0;
            content: '';
            width: 82px;
            height: 82px;
        }
    }

    .titulo {
        position: relative;
        margin-left: 50px;

        &::before {
            position: absolute;
            left: -50px;
            content: '';
            @include absolute-center-y;
        }

        &::after {
            position: absolute;
            background-color: $secondary;
            width: 56%;
            height: 2px;
            right: 0;
            content: '';
            @include absolute-center-y;
        }
    }

    #titulo-personas {
        &::before {
            @include background('../images/iconos/ico-personas.svg', center, contain);
            width: 35px;
            height: 43px;
        }
    }

    #titulo-empresas {
        &::before {
            @include background('../images/iconos/ico-empresas.svg', center, contain);
            width: 35px;
            height: 43px;
        }
    }
}

#descanso {
    @include background('../images/bg-descanso.png', center, cover);
    background-attachment: fixed;
    color: $text-gold;
    padding: 100px 0;
    
    h1 {
        @include font-size(4rem);
        
        span {
            position: relative;

            &::after {
                position: absolute;
                @include absolute-center-y;
                right: -32%;
                width: 30%;
                height: 4px;
                background-color: #C1B291;
                content: '';
            }
        }
    }

    .btn-info {
        box-shadow: 0px 0px 14px 0px #ccc;
        font-family: 'circular_stdblack', sans-serif;
        @include font-size(3rem);
    }
}

.blog,
.beneficios-asesores {
    @include background('../images/bg-azul.png', center, cover);
    color: $text-white;
    padding: 100px 0;
    position: relative;

    a {
        color: $text-white;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    h6 {
        font-family: 'circular_stdbook', sans-serif;
        letter-spacing: 0.3rem;
    }

    .post {
        h1 {
            @include font-size(1rem);
        }

        ul {
            margin-bottom: 0;
        }

        .icon {
            background-color: $secondary;
            border-radius: 50px;
            color: $text-blue;
            width: 34px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-secondary {
            color: $text-blue;

            &:hover,
            &:focus {
                background-color: $info;
                border-color: $info;
            }
        }
    }

    figure {
        position: relative;
        z-index: 2;
    }

    .titulo {
        position: relative;
        margin-left: 50px;

        &::before {
            position: absolute;
            left: -50px;
            content: '';
            @include absolute-center-y;
        }

        &::after {
            position: absolute;
            background-color: $secondary;
            width: 56%;
            height: 2px;
            right: 0;
            content: '';
            @include absolute-center-y;
        }
    }

    #titulo-personas {
        &::before {
            @include background('../images/iconos/ico-personas.svg', center, contain);
            width: 35px;
            height: 43px;
        }
    }

    #titulo-empresas {
        &::before {
            @include background('../images/iconos/ico-empresas.svg', center, contain);
            width: 35px;
            height: 43px;
        }
    }
}

.descanso-alt {
    @include background('../images/bg-descanso-alt.png', center, cover);
    color: $text-gold;
    padding: 100px 0;

    h1,
    h2 {
        position: relative;
    }
    
    h1 {
        @include font-size(5rem);
        margin-bottom: -40px;
        z-index: 1;
    }

    h2 {
        @include font-size(6rem);
        color:#3E406C;
        font-family: 'brittany_signatureregular', sans-serif;
        position: relative;
        z-index: 2;
    }

    p {
        letter-spacing: 0.3rem;
    }

    .btn-info {
        box-shadow: 0px 0px 14px 0px #ccc;
        font-family: 'circular_stdblack', sans-serif;
        @include font-size(3rem);
    }
}

.descanso-alt-2 {
    @include background('../images/bg-descanso-alt-2.png', center, cover);
    color: $text-blue;
    padding: 100px 0;
    
    h1 {
        font-family: 'brittany_signatureregular', sans-serif;
        @include font-size(6rem);
    }

    .social {
        a {
            background-color: $primary;
            color: $text-white;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover,
            &:focus {
                background-color: $info;
                color: $text-blue;
                text-decoration: none;
            }
        }

        h2 {
            font-family: 'circular_stdbook', sans-serif;
        }
    }
}

#descanso-formulario {
    padding: 180px 0 20px;

    h1 {
        margin-bottom: 0.5rem;
    }
}

.generic {
    @include background('../images/bg-generico.png', center, cover);
    color: $text-blue;
    padding: 100px 0;

    h6 {
        font-family: 'circular_stdbook', sans-serif;
        letter-spacing: 0.3rem;
    }

    figure {
        border-radius: 50px;
    }

    p {
        text-align: justify;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C1B291' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
       
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C1B291' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
}

#servicios {
    color: $text-blue;
    padding: 200px 0 100px;
    position: relative;

    h1 {
        margin-bottom: 0.5rem;
    }

    .card {
        background-color: #E5DACC;
        border: none;
        border-radius: 0;
        margin-bottom: 100px;
        text-align: center;

        .icono {
            background-color: #E5DACC;
            border-radius: 50px;
            width: 100px;
            height: 100px;
            margin: -50px auto 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #icono-vida {
            padding: 24px;
        }

        #icono-educacion {
            padding: 18px;
        }

        #icono-retiro {
            padding: 33px;
        }

        #icono-hombre-clave {
            padding: 34px;
        }

        h1 {
            @include font-size(1.6rem);
        }

        p {
            letter-spacing: normal;
            text-align: justify;
        }

        .btn-primary {
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            display: block;
            position: absolute;
            bottom: -18px;
            @include absolute-center-x;
            //margin-bottom: -33px;
        }
    }

    .banner {
        h1 {
            font-size: 2.5rem;
        }

        h6 {
            font-family: 'circular_stdbook', sans-serif;
            letter-spacing: 0.3rem;
        }
    
        figure {
            position: relative;
            z-index: 2;
        }
    }
}

#beneficios-asesores {
    padding: 100px 0 0;

    h2 {
        color: $text-white;
        background-color: $info;
        border-radius: 2rem;
        // box-shadow: 0px 0px 14px 0px #ccc;
        font-family: 'circular_stdblack', sans-serif;
        display: inline-block;
        padding: 12px 20px;
        @include font-size(3rem);
    }

    .viajes-y-convenciones {
        img {
            max-width: 230px;
        }
    }

    .btn-primary {
        background-color: transparent;
        border: 1px solid #fff;

        &:hover,
        &:focus {
            background-color: $secondary;
            color: $text-blue !important;
        }
    }
}

.interna {
    padding: 160px 0 100px;
}

footer {
    @include background('../images/bg-azul.png', center, cover);
    color: $text-white;
    padding: 100px 0 40px;

    a {
        color: $text-white;

        &:hover,
        &:focus {
            color: $text-white;
            text-decoration: underline;
        }
    }

    nav {
        ul {
            line-height: 2rem;
        }
    }

    h1 {
        text-transform: uppercase;
    }

    h6 {
        font-family: 'circular_stdbook', sans-serif;
        letter-spacing: 0.3rem;
    }

    .info {
        li {
            display: flex;
            align-items: center;

            address {
                margin-bottom: 0;
            }
        }

        a {
            background-color: $secondary;
            color: $text-blue;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;

            &:hover,
            &:focus {
                background-color: $info;
                color: $text-blue;
                text-decoration: none;
            }
        }
    }

    .social {
        a {
            background-color: transparent;
            border: 1px solid $secondary;
            color: $text-white;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;

            &:hover,
            &:focus {
                background-color: $secondary;
                color: $text-blue;
                text-decoration: none;
            }
        }
    }

    .logo {
        max-width: 100%;
    }

    .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $secondary;
        border-radius: 0;
        color: $text-white !important;

        &:focus {
            background-color: transparent;
        }
    }

    .btn-primary {
        background-color: transparent;
        border: 1px solid $secondary;

        &:hover,
        &:focus {
            background-color: $secondary;
            border-color: $secondary;
            color: $text-blue;
        }
    }
}