// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    #jumbotron {
        .carousel-item-2 {
            .logo-sencillo {
                width: 140px;
                height: 140px;
                bottom: 180px;
                left: 30px;
            }
        }

        .foto-2 {
            figure {
                .logo {
                    max-width: 80px;
                }
            }
        }
    }

    #nuestros-servicios {
        .titulo {
            &::after {
                width: 62%;
            }
        }
    }

    .interna {
        padding: 140px 0 100px;
    }

    footer {
        .logo {
            max-width: 400px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #nuestros-servicios {
        figure {
            &::before {
                bottom: 43px;
                width: 140px;
                height: 140px;
            }
        }

        .titulo {
            &::after {
                width: 73%;
            }
        }
    }

    .interna {
        padding: 160px 0 100px;
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #jumbotron {
        .contenedor-foto,
        .contenedor-info {
            min-height: 100vh;
        }

        .carousel-item-3 {
            position: relative;

            .logo-sencillo {
                @include background('../images/logo-sencillo.png', center, contain);
                position: absolute;
                width: 200px;
                height: 200px;
                bottom: 100px;
                @include absolute-center-x;
                z-index: 2;
            }
        }
    }

    #nosotros {
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            background-color: $secondary;
            content: '';
            z-index: 1;
        }
    }

    #nuestros-servicios {
        figure {
            &::before {
                left: -40px;
                bottom: -40px;
                width: 80px;
                height: 80px;
            }
        }

        .titulo {
            margin-left: 40px;

            &::before {
                left: -40px;
            }

            &::after {
                width: 4%;
            }
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            background-color: $secondary;
            content: '';
            z-index: 1;
        }
    }

    .generic {
        .carousel-control-prev,
        .carousel-control-next {
            width: 2%;
        }
    }

    #servicios {
        padding: 280px 0 100px;
        
        .card {
            min-height: 386px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    #nuestros-servicios {
        figure {
            &::before {
                left: -60px;
                bottom: -60px;
                width: 120px;
                height: 120px;
            }
        }

        .titulo {
            &::after {
                width: 16%;
            }
        }
    }

    #servicios {
        .card {
            min-height: 346px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    #nuestros-servicios {
        figure {
            &::before {
                left: -80px;
                bottom: -80px;
                width: 140px;
                height: 140px;
            }
        }

        .titulo {
            &::after {
                width: 30%;
            }
        }
    }
}
